/* default section start */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{

    font-family: 'Montserrat', sans-serif;

}

html{

    font-size: 62.50%;

}

*{

    margin: 0rem;
    padding: 0rem;
    border: none;
    box-sizing: border-box;

}


/* default section end */


/* main section start */


.hero_container{

    width: 100vw;
    height: 100vh;

}

.hero_wrapper{

    width: 50%;
    margin: 0rem auto;

}

.content_flex{

    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

h1{

    font-size: 4rem;
    color: black;
    margin-bottom: 5rem;

}

.user_input{

    display: flex;
    padding: 1rem;
    border-bottom: solid 0.1rem black;
    border-radius: 0.3rem;

}

input{

    width: 40rem;
    outline: none;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 400;

}

.user_input svg{

    width: 3rem;

}

.username h6{

    font-size: 1.8rem;
    font-weight: 400;

}

.user_password h6{

    font-size: 1.8rem;
    font-weight: 400;

}

.password{

    display: flex;
    padding: 1rem;
    border-bottom: solid 0.1rem black;
    border-radius: 0.3rem;

}

.password svg{

    width: 3rem;

}

button{

    width: 16rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 2rem;
    margin-top: 2rem;

}

a{

    color: black;
    font-size: 1.4rem;

}


/* main section end */